@tailwind base;
@tailwind components;
@tailwind utilities;

:root { font-family: Poppins, ui-sans-serif, system-ui; }
body {
  min-height: 100vh;
  background-color: #020617;
  overflow-x: hidden;
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined", "Material Icons", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.card-enter-active,
.card-leave-active {
  transition: all 0.25s ease;
}
.card-enter-from,
.card-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
